DB_HOST=localhost
DB_PORT=porta_do_banco
DB_USER=user_do_banco
DB_PASSWORD=sua_senha_aqui
DB_NAME=nome_db
JWT_SECRET=uma-chave-super-secreta-longa-e-aleatoria
PORT=porta_da_api
VITE_APP_URL=http://localhost:3000

# CEP único do sistema (por enquanto um território/região)
TERRITORY_CEP=01310-100
